.container {
	width:250px;
	margin:50px;
	border:1px solid black;
	padding:10px;
}

.entity {
	height: 100px;width: 100px;
	margin:10px;
	float:left;
}

ul#map {
	list-style:none;
	height: 100%;
	float: left;
	margin: 0!important;padding: 0!important;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
.cell {
	height: 32px;width: 32px;
	float:left;
	/*border:1px solid black;*/
	/*background:blue;*/
	margin: 0;padding: 0;
}


/*.entrancetrue {
	background:brown;
}*/




li.wall {
	background:url('../img/Dirt.png');
}

li.path {
	background:url('../img/Wall.png');
}

li.entrance {
	background: brown;
}

li.exit {
	background: red;
}

.player {
	background:blue!important;
}
.enemy {
	background:red;	
}